{% extends 'admins/base.html' %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Manage Customer</h3>
                    <div class="card-tools">
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                    <input type="text" name="customer_quantity" placeholder="Customer Quantity"
                                           class="form-control">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-tool btn-sm">
                                                 <i style="color: greenyellow;" class="fas fa-plus"></i>
                                             </button>
                                         </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-valign-middle">
                        <thead>
                        <tr>
                        <<th>Order</th>
                        <th>Customer</th>
                        <th>Worker</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Message</th>
                        <th>Delivered Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in all_customers %}
                            <tr>
                                <td>{{ customer.order}}</td>
                                <td>{{ customer.customer }}</td>
                                <td>{{ customer.worker }}</td>
                                <td>{{ customer.quantity }}</td>
                                <td>{{ customer.status }}</td>
                                <td>{{ customer.message}}</td>
                                <td>{{ customer.delivered_time }}</td>
                                <td>
                                    <a href="{% url 'edit_customer_page' 'edit' customer.id %}" class="text-muted">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{% url 'edit_customer_page' 'delete' customer.id %}" class="text-muted">
                                        <i style="color: red;" class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}