<html>
<head><title>Redirecting...</title></head>
<body>
{% if IS_PRODUCTION %}
    <form action='https://secure.payu.in/_payment' method='post' name="payu">
{% else %}
    <form action='https://test.payu.in/_payment' method='post' name="payu">
{% endif %}
<input type="hidden" name="firstname" value="{{ form.first_name }}"/>
<input type="hidden" name="surl" value="{{ form.surl }}"/>
<input type="hidden" name="phone" value="{{ form.phone }}"/>
<input type="hidden" name="key" value="{{ form.key }}"/>
<input type="hidden" name="hash" value="{{ form.hash }}"/>
<input type="hidden" name="curl" value="{{ form.curl }}"/>
<input type="hidden" name="furl" value="{{ form.furl }}"/>
<input type="hidden" name="txnid" value="{{ form.txnid }}"/>
<input type="hidden" name="productinfo" value="{{ form.product_info }}"/>
<input type="hidden" name="amount" value="{{ form.amount }}"/>
<input type="hidden" name="email" value="{{ form.email }}"/>
<input type="hidden" name="service_provider" value=""/>
<input type="hidden" value="submit">
</form>
</body>
<script language='javascript'>
    window.onload = function () {
        document.forms['payu'].submit()
    }
</script>
</html>